<%= form_for @comment, url: form_url,remote: true do |f|%>
	<%= render 'shared/errors', object: @comment %>
	
	<div class="form-group" style="margin-top: 15px;">
		<div class="round-image-50"><%= image_tag current_user.avatar.url(:thumb) %></div>
		<div class="inline-button-form">
			<%= f.text_area :body, class: "form-control",placeholder: "Add a comment",rows: 3,cols: 60 %>
			<%= f.submit 'Comment',  class: "inline-button" %>
		</div>
	</div>
<% end %>