<div class="page-header"><h4><%= link_to pluralize(@comments.size, 'Comment'), "#" ,class: "comments_title", id: "comments_count" %></h4></div>

<section id="comments-section">
	<div id="comments">
		<%= render partial: "comments/comment", collection: @comments.select { |c| c.parent_id == 0 } %>
	</div>
</section>	
