<% if params[:comment_id].nil? %>
<%= render 'comments/form' , form_url: [@commentable, @comment]  %>
<% else %>
<%= render 'comments/form' , form_url: [ @commentable, @parent_comment, @comment]  %>
<% end %>