<div class="comments_wrapper clearfix">
  <div id=<%="comment_#{@comment.id}"%>>
    <div class="round-image-50"><%= image_tag @comment.user.avatar.url(:thumb) %></div>
      <b><strong><%= @comment.user.name%></strong></b><small>&nbsp;&nbsp;<%= time_ago_in_words(@comment.created_at) %></small><br>
        <%= @comment.body %>
        <br/>
        
        <%= link_to 'Reply', [:new, @commentable, @comment, :comment], :remote => true , class: "reply_comment_link"%>
        
        <div class="btn-group">
        <% if @comment.user == current_user %>
            <%= link_to  [@commentable,@comment], method: :delete, data: {confirm: 'Are you sure?'},class: "btn btn-sm btn-default" do %>
              <span class="glyphicon glyphicon-trash" />
            <% end %>
        <% end %>
        <%= render partial: "votes/show", locals: {:@votable => @comment} %>
  </div>
  </div>

</div>
