var comments_count = $("#comments_count").text();
$("#comments_count").html(parseInt(comments_count.split(" ")[0])+1+" Comments");
$('.form-control').val("");
<% if params[:comment_id].nil? %>
	$('#comments').after("<%= j render :partial => 'comments/singlecomment' %><hr/>");
<% else %>
	$('<%="#comment_#{params[:comment_id]}"%>').after("<hr/><div class='nested'><%= j render :partial => 'comments/singlecomment' %></div>");
<% end %>

