<%= form_for @article  do |f| %>
	<%= render 'shared/errors', object: @article %>
	<div class="form-group">
		<%= f.label :title%><br>
		<%= f.text_field :title, class: 'form-control'%>
	</div>

	<div class="form-group">
		<%= f.label :text, "Write your content here"%><br>
		<%= f.text_area :text, size:"100x10", class: 'form-control' %>
	</div>
	
	<div class="form-group">
		<%= f.submit 'Create Article', class: "btn btn-lg btn-primary" %>
	</div>
<% end %>