<% if user_signed_in? %>
	<%= link_to 'New Article', new_article_path, class: 'btn btn-default' %>
<% end %>

<% @articles.each do |article|%>
  <div class="post-block">
	<div class="round-image-50"><%= image_tag article.user.avatar.url(:thumb) %></div>
	<h4>
        <%= link_to article.title, article_path(article)  %><br>
      <small class="author">Submitted <%= time_ago_in_words(article.created_at) %> by <%= article.user.name %></small>
    </h4>
	<p><%= truncate(article.text, :length => 300) %></p>
	
	<div class="btn-group">
		<%= link_to 'Show', article, class: 'btn btn-default btn-sm' %>

		<% if user_signed_in? and current_user.id == article.user_id %>
			<%= link_to 'Edit', edit_article_path(article) ,class: 'btn btn-default btn-sm' %>
			<%= link_to 'Delete', article, method: :delete, data: {confirm: 'Are you sure'} ,class: 'btn btn-default btn-sm' %>
		<% end %>
	</div>
  </div>
<%end%>
