<div class="post-block">
	<div class="page-header">
		<h1><%= @article.title %>
		<br><small>Submitted By <%= @article.user.name %></small></h1>
	</div>
	<p>
		<%= markdown(@article.text) %>
	</p>

	<% if current_user==@article.user %>
	 	<div class="btn-group">
			<%= link_to 'Edit',edit_article_path(@article), class: "btn btn-default" %>
	      <%= link_to 'Destroy', @article, method: :delete,data: {confirm: 'Are you sure?'},class: "btn btn-default"%>
	    </div>
	<% end %>
	
	<%= render "votes/show" %>
	<%= render  "comments/new" %>
	<%= render "comments/index" %> 
	
</div>
