<%= form_for(@video) do |f| %>
  <%= render 'shared/errors', object: @video %>

  <div class="form-group">
    <%= f.label :url %><br>
    <%= f.text_field :url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.submit "Submit video", class: "btn btn-lg btn-primary"%>
  </div>

<% end %>
