<% if user_signed_in? %>
	<%= link_to 'New Video', new_video_path , class: 'btn btn-default'%>
<% end %>

<% @videos.each do |video| %>
    <div class="post-block">
	    <div class="round-image-50"><%= image_tag video.user.avatar.url(:thumb) %></div>
	    <h4>
	        <%= link_to video.title, video_path(video)  %><br>
	      <small class="author">Submitted <%= time_ago_in_words(video.created_at) %> by <%= video.user.name %></small>
	    </h4>
	      <div><%= embed(video.url) %></div>
	      <div class="btn-group">
		      <%= link_to 'Show', video ,class: 'btn btn-default btn-sm' %>
		      <% if user_signed_in? and current_user.id == video.user_id %>
			      <%= link_to 'Edit', edit_video_path(video) ,class: 'btn btn-default btn-sm' %>
			      <%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } ,class: 'btn btn-default btn-sm' %>
		    <% end %>
		  </div>
		  <br/>
		    <%= video.description %>
    </div>
<% end %>
<br>


