<div class="post-block">
	<div class="page-header">
	  <h1><%= @video.title %>
	  <br><small>Submitted By <%= @video.user.name %></small></h1>
	</div>

	<p>
	  <strong>Description:</strong>
	  <%= @video.description %>
	</p>

	<div class="embed-container">
	  <%= embed(@video.url) %>
	</div>

	<% if current_user==@video.user %>
	 	<div class="btn-group">
			<%= link_to 'Edit',edit_video_path(@video), class: "btn btn-default" %>
	      <%= link_to 'Destroy', @video, method: :delete,data: {confirm: 'Are you sure?'},class: "btn btn-default"%>
	    </div>
	<% end %>

	<%= render "votes/show" %>
	<%= render "comments/index" %> 
	<%= render  "comments/new" %>
</div>
