<% if object.errors.any? %>
	<div class="panel panel-warning errors">
		<div class="panel-heading">
		<h5><i class="glyphicon glyphicon-exclamation-sign"></i>Found errors while saving</h5>
		</div>

		<ul class="panel-body">
			<% object.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
		</div>
<% end %>