<%= form_for(@link) do |f| %>
  <%= render 'shared/errors', object: @link %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :url %><br>
    <%= f.text_field :url ,class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.submit "Submit Link", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
