<% if user_signed_in? %>
	<%= link_to 'Add link', new_link_path , class: 'btn btn-default'%>
<% end %>

<% @links.each do|link| %>
  <div class="post-block">
  	<div class="round-image-50"><%= image_tag link.user.avatar.url(:thumb) %></div>
     <h4>
        <%= link_to link.title, link  %><br>
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.name %></small>
      </h4>
      <div class="btn-group">
        <a target="_blank" class="btn btn-default btn-sm" href="<%= link.url %>">Visit Link</a>
        <% if user_signed_in? and current_user.id == link.user_id %>
			<%= link_to 'Edit', edit_link_path(link) ,class: 'btn btn-default btn-sm' %>
			<%= link_to 'Delete', link, method: :delete, data: {confirm: 'Are you sure'} ,class: 'btn btn-default btn-sm' %>
		<% end %>
      </div>
  </div>
<% end %>


