<div class="post-block">
	<div class="page-header">
	  <h1><a href="<%= @link.url %>"><%= @link.title %></a><br><small>Submitted By <%= @link.user.name %></small></h1>
	</div>

	<div class="btn-group">
	  <%= link_to 'Visit URL', @link.url, class:"btn btn-primary" , target: "_blank"%>
	</div>

	<% if current_user==@link.user %>
	    <div class="btn-group">
	      <%= link_to 'Edit',edit_link_path(@link), class: "btn btn-default" %>
	      <%= link_to 'Destroy', @link, method: :delete,data: {confirm: 'Are you sure?'},class: "btn btn-default"%>
	    </div>
	<% end %>
	
	<%= render "votes/show" %>
	<%= render  "comments/new" %>
	<%= render "comments/index" %> 
	
</div>


