<%= form_for @photo do |f| %>
	<%= render 'shared/errors', object: @photo %>
	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :image %>
		<%= f.file_field :image%>
	</div>
	<div class="form-group">
		<%= f.submit 'Upload Photo', class: "btn btn-lg btn-primary" %>
	</div>
<% end %>