<% if user_signed_in? %>
	<%= link_to 'Upload Photo', new_photo_path, class: 'btn btn-default' %>
<% end %>

<% @photos.each do |photo| %>
<div class="post-block">
	<div class="media">
		<div class="round-image-50"><%= image_tag photo.user.avatar.url(:thumb) %></div>
		<h4>
        <%= link_to photo.title, photo_path(photo)  %><br>
        <small class="author">Submitted <%= time_ago_in_words(photo.created_at) %> by <%= photo.user.name %></small>
        </h4>
		<%= link_to image_tag(photo.image.url, class: 'media-object'), photo.image.url, target: '_blank' %>
	</div>
	<div class="btn-group">
		<%= link_to 'Show', photo, class: 'btn btn-default btn-sm' %>

		<% if user_signed_in? and current_user.id == photo.user_id %>
			<%= link_to 'Edit', edit_photo_path(photo) ,class: 'btn btn-default btn-sm' %>
			<%= link_to 'Delete', photo, method: :delete, data: {confirm: 'Are you sure'} ,class: 'btn btn-default btn-sm' %>
		<% end %>
	</div>
	
</div>
<% end %>

