<div class="post-block">
	<div class="media">
		<div class="page-header">
			<h1><%= @photo.title %>
			<br><small>Submitted By <%= @photo.user.name %></small></h1>
		</div>
		<p>
			<%= link_to image_tag(@photo.image.url, class: 'media-object'), @photo.image.url, target: '_blank' %>
		</p>
	</div>
	
	<% if current_user==@photo.user %>
	 	<div class="btn-group">
			<%= link_to 'Edit',edit_photo_path(@photo), class: "btn btn-default" %>
	      <%= link_to 'Destroy', @photo, method: :delete,data: {confirm: 'Are you sure?'},class: "btn btn-default"%>
	    </div>
	<% end %>

	<%= render "votes/show" %>
	<%= render  "comments/new" %>
	<%= render "comments/index" %> 

</div>


