 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
  @import "bootstrap-sprockets";
  @import "bootstrap";
* { 
	padding: 0;
	margin: 0;
}
.wrapper-body{
	background-color: #36465d;
	}
nav#top_bar_nav{
	float: right;
	padding: 35px 20px 20px 0px;
}
nav#top_bar_nav ul li{
	display: inline-block;
	padding:10px;
}
a{ text-decoration: none;
}
nav.sidebar { 
	width: 200px;
	text-align: right;
	position: fixed;
	left: -180px;
	top: 0;
	bottom: 0;
	background-color: black;
	border-right: 20px solid black ;
	box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
	z-index: 11;
	cursor: pointer;
	opacity: 0.9;
}
nav.sidebar:after{
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	right: -55px;
	top: 50%;
	border-width: 15px 15px;
	border-style: solid;
	border-color: transparent transparent transparent black;
}
nav.sidebar, nav.sidebar:after {
	transition: all 700ms ease;
}
nav.sidebar:hover{
	left: 0;
}

nav.sidebar li {
	list-style-type: none;
	display: block;
	padding: 5px;
	border-bottom: 1px solid #000000;
}
nav.sidebar li:hover { background: #E5DAC0; color: #C5AD74;}
nav.sidebar li:last-child { border-bottom: none;}


#logo{
  font-size: 26px;
  font-weight: 700;
  text-transformation: uppercase;
  letter-spacing: -1px;
  padding: 15px 0;
  a{
    color: #2F363E;
  }
}

#main_content{
  #content{
    float: none;
  }
  padding-bottom: 100px;
  .link{
    padding: 2em 1em;
    border-bottom: 1px solid #e9e9e9;
    .title{
      a{
        color: #FF4500;
      }
    }
  }
  .comment_title{
    margin-top: 2em;
  }
  #comment{
    .comment{
      padding: 1em 0;
      border-top: 1px solid #E9E9E9;
      .lead{
        margin-bottom: 0;
      }
    }
  }
}
.post-block {
	padding: 12px 12px 12px 12px;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #ffffff;
  border-radius: 5px;
  border-radius: 5px;
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    float:left;
    margin-right:10px;
    img { width: 100% }
}
.form-control {
  float: right;
}
.inline-button {
  position:absolute;
 bottom:10px;
 right:10px;
}
.inline-button-form{
  display:inline-block;
    position:relative;
}