      <%= link_to [:upvote , @votable ,:vote], method: :put,remote: true, class: "btn btn-default btn-sm" do %>
          <span id= <%="#{@votable.class}_#{@votable.id}_upvote" %>><%= @votable.votes.where(:emotion => 1).count %></span>
          <span class="glyphicon glyphicon-thumbs-up"></span>
      <% end %>
      <%= link_to [:downvote , @votable ,:vote], method: :put,remote: true, class: "btn btn-default btn-sm"  do %>
      <span id= <%="#{@votable.class}_#{@votable.id}_downvote" %>><%= @votable.votes.where(:emotion => 2).count %></span>
          <span class="glyphicon glyphicon-thumbs-down"></span>
      <% end %>
