$('#<%="#{@votable.class}_#{@votable.id}_upvote"%>').html('<%= j @votable.votes.where(:emotion => 1).count.to_s %>');
$('#<%="#{@votable.class}_#{@votable.id}_downvote"%>').html('<%= j @votable.votes.where(:emotion => 2).count.to_s %>');
