<footer>
		<section>
			<h3><b>The Gym</b></h3>
			<p><b>8105534005</b><br><br>
			Ittina Mahavira H604 
			Electronic City Bangalore<br></p>
		</section>
		<section>
			<h3>Connect with us</h3>
			<ul class="social">
				<li><a href="#"><img src="http://www.w3newbie.com/wp-content/uploads/facebook1.png" /></a></li>
				<li><a href="#"><img src="http://www.w3newbie.com/wp-content/uploads/googleplus.png "/></a></li>
				<li><a href="#"><img src="http://www.w3newbie.com/wp-content/uploads/twitter1.png "/></a></li>
				<li><a href="#"><img src="http://www.w3newbie.com/wp-content/uploads/youtube1.png "/></a></li>
			</ul>
		</section>
		<section>
			<img src="http://www.w3newbie.com/wp-content/uploads/weight-lifter.png" />
		</section>
	</footer>
	<footer class="second">
		<p>@Copyright - The Gym, 2014</p>
</footer>