<nav class="sidebar">
	<ul>
		<img src="assets/download.jpg" style="width:100px;height:150px;"/>
		<li><a href="#">HOME</a></li>
		<li><a href="#">ABOUT</a></li>
		<li><a href="#">WORK</a></li>
		<li><a href="#">BLOG</a></li>
		<li><a href="#">CONTACT</a></li>
	</ul>
</nav>