<header class="navbar navbar-default" role="navigation">
      <div class="navbar-inner">
          <div class="container">
             <div id="logo" class="navbar-brand"><%= link_to "Social Network", root_path %></div>
            <nav class="collapse navbar-collapse navbar-exl-collapse">
              <!--devise built in function-->
              <% if user_signed_in? %>
                  <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to 'Account', edit_user_registration_path %></li>
                    <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
                  </ul>
              <% else %>
                  <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to 'Sign up', new_user_registration_path %></li>
                    <li><%= link_to 'Sign in', new_user_session_path %></li>
                  </ul>
              <% end %>
            <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="round-image-50"><%= image_tag current_user.avatar.url(:thumb) %></li>
              <li><a href="/articles"><%= current_user.name %></a></li>
            <% end %>
              	<li><a href="/articles" >Blog</a></li>
        				<li><a href="/links" >Links</a></li>
        				<li><a href="/videos" >Video</a></li>
        				<li><a href="/photos" >Photos</a></li>
			       </ul>
            </nav>
         </div>
      </div>
    </header>