<!DOCTYPE html>
<html>
<head>
  <title>MyBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="wrapper-body">
		<%= render partial: 'layouts/top_navigation' %>
		<%= render partial: 'layouts/sidebar' %>

		<div id="main_content" class="container">
		    <div id="content" class="col-md-9 center-block">
			    <% flash.each do |name,msg| %>
			    	<div class="<%=flash_class(name.to_sym)%>"><%=msg%></div>
 			    <% end %>
		        <%= yield %>
		    </div>
		</div>

<!-- 		<%= render partial: 'layouts/footer' %>
 -->	</div>
</body>
</html>
